body {
  font-size: 30px;
  margin: 0;
}

nav {
  display: flex;

  height: 20%;
  align-items: center;
  justify-content: space-between;
}

.middle-nav {
  display: flex;
  height: 70px;
  margin: 0;
}

.mens-menu,
.shopping-cart {
  position: relative;
  display: inline-block;
}

.hidden-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;

  z-index: 1;
}

.mens-menu:hover .hidden-menu,
.womens-menu:hover .hidden-menu {
  display: block;
}

.shopping-cart:hover .hidden-menu {
  display: block;
  right: -40px;
  width: 200px;
}

.womens-menu {
  position: relative;
  display: inline-block;
  margin-left: 40px;
}

.womens-menu:hover .hidden-menu {
  display: block;
}

.hidden-menu ul {
  background-color: lightgray;
}

.right-nav {
  display: flex;
  margin-right: 50px;
}

.logo {
  height: 80px;
}

.right-nav img {
  height: 50px;
}

main {
  background-color: gray;
  height: 100vh;
}
